.Greeed {
	
}
.Greeed-column {
	display: block;
}
.Greeed-column .item,
.Greeed-column .item.istouch,
.Greeed-column .item.istouch.past,
.Greeed-column .item.istouch.future {
	width: auto;
	float: none;
}
.Greeed-column + .Greeed-column .item-link {
	border-left-color: rgba(0,0,0,.25);
}
