@charset 'UTF-8';
@font-face {
	font-family: 'sourcesanspro';
	src:url('../fonts/sourcesanspro-regular-webfont.eot');
	src:url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
		url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'VDO_Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE6SxSvC1lIsK_unZDHWqTBg.eot');
  src: url('http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE6SxSvC1lIsK_unZDHWqTBg.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXEweOulFbQKHxPa89BaxZzA0.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE4o3ZslTYfJv0R05CazkwN8.woff') format('woff'),
       url('http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE-LrC4Du4e_yfTJ8Ol60xk0.ttf') format('truetype');
}

@font-face {
  font-family: 'VDO_Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft4ySLpARcVRs9uFJp0LRZgE.eot');
  src: url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft4ySLpARcVRs9uFJp0LRZgE.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft0ZRWJQ0UjzR2Uv6RollX_g.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft2B7wJ9CoPCp9n30ZBThZ1I.woff') format('woff'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtwV_pQ1T3xN3K1c3sB361us.ttf') format('truetype');
}
@font-face {
  font-family: 'VDO_Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl08G3e9iX24ta7lLMfbqPFME.eot');
  src: url('http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl08G3e9iX24ta7lLMfbqPFME.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl03XcDWh-RbO457623Zi1kyw.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl023La9Kxrc1laXJvjyGQa-A.woff') format('woff'),
       url('http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl07h9hBNNhK4RjzVManoH7kY.ttf') format('truetype');
}
@font-face {
  font-family: 'VDO_Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtzBIQ40lcwWW3vj9tFMKvqw.eot');
  src: url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtzBIQ40lcwWW3vj9tFMKvqw.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft93uLUHnU24AL_1IdxwhTqs.woff2') format('woff2'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtxefZI2gqg-NXpw43Z_DJ3I.woff') format('woff'),
       url('http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft1FZMcfX2SbzQ69I7OWmkGo.ttf') format('truetype');
}

:root {
	--color-one: #f03d36;
	--color-two: #51C3FA;
}
*,
*::after,
*::before {
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
header,
footer,
section {
	display: block;
}
html, body {
	min-height: 100%;
	margin: 0;
}
html {
	position: relative;
	width: 100%;
	font: 300 1em VDO_Montserrat, sans-serif;
	color: white;
	background: #f03d36;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.15) 700px) no-repeat #f03d36;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;
}
body {
	padding-bottom: 5em;
}
h1,
h2 {
	font-size: 1em;
	color: white;
	letter-spacing: -.02em;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
a {
	color: #ddd;
}
.article a[href^=http],
.intro a[href^=http] {
	margin-right: .8em;
}
.article a[href^=http]::after,
.intro a[href^=http]::after {
	content: ''; 
	position: absolute; bottom: .8em; z-index: 10;
	width: 1em; height: 1em;
	background: url('../images/external.svg');
	background-size: 150%;
	background-position: -.25em -3.25em;
}
header{
	background: #444;
	overflow: hidden;
}
.name{
	float: left;
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.name a {
	display: block;
	padding: 1.1em .5em;
	line-height: 1;
}
.name a,
.reseaux-item {
	position: relative;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	transition: color .2s, background-color .2s;
}
.name a:hover,
.name a:focus,
.reseaux-item:hover,
.reseaux-item:focus {
	
}
.name a {
	white-space: nowrap;
}
.name a span.text {
	display: inline-block;
	opacity: 1;
	transition: transform .2s, opacity .2s;
}
.name a::before {
	content: 'â†';
	font-family: 'sourcesanspro', sans-serif;
	font-size: 1.6em;
	position: absolute;
	left: .5em; top: .45em;
	opacity: 0;
	transform: translate(-50px);
	transition: transform .3s cubic-bezier(.5,2,.5,.8), opacity .3s;
}
.name a span.retour {
	white-space: nowrap;
	position: absolute;
	left: 2em;
	opacity: 0;
	transition: transform .3s, opacity .3s;
}
.name a:hover span.text {
	opacity: 0;
	transform: translate(10px);
}
.name a:hover::before {
	opacity: 1;
	transform: translate(-12px);
}
.name a:hover span.retour {
	opacity: 1;
	transform: translate(-10px);
}
.menu {
	line-height: 0;
}
.menu-item {
	display: inline-block;
	vertical-align: middle;
	color: rgba(0,0,0,.5);
	font-weight: 600;
	margin: 0 .25em;
}
.lang {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.3;
}
.lang-item {
	display: block;
	font-size: .6em;
	text-decoration: none;
	color: #aaa;
}
.lang-item:hover,
.lang-item:focus,
.lang-item--selected {
	color: #fff;
}
.icon {
	width: 2.3em;
	height: 3.2em;
	margin: 0;
	/* bug ios (svgs are fuzzy )*/
	/* filter: drop-shadow(0 1px 2px rgba(0,0,0,.5)); */ 
}
.icon svg {
	fill: white;
	width: 100%;
	height: 100%;
}
.svg-icon-use {
	/* filter: url(#dropShadow); */
}
.svg-icon-color {
	fill: white;
}
.svg-icon--conf .svg-icon-mask {
	fill: hsl(150, 60%, 41%);
}
.svg-icon--twitter .svg-icon-mask {
	fill: #55ACEE;
}
.icon .svg-icon-mask {
	fill: #f03d36;
	transform: translateY(100px);
	transition: transform .3s;
}
.icon:hover .svg-icon-mask,
.icon:focus .svg-icon-mask {
	/* opacity: 1; */
	transform: translateY(0);
}
.news {
	display: block;
	margin-top: 1em;
	font-size: .8em;
	color: rgba(0,0,0,.6);
	text-align: center;
}
.news-title,
.news-text {
	display: inline;
}
.news-title {
	font-weight: 600;
}
.news-text + .news-title {
	margin-left: 1em;
}
@media (max-width: 36em) {
	.news {
		font-size: .7em;
	}
}
.intro{
	font-size: 3em;
	display: table;
	width: 100%;
	height: 6.5em;
}
.intro-content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.intro-title{
	font-weight: 600;
	letter-spacing: -.07em;
	text-align: center;
	color: white;
}
.intro-title em {
	font-size: 0.8em;
	font-style: normal;
}
.intro-more {
	font-size: medium;
}
.intro-more,
.intro-more a {
	color: rgba(0,0,0,.5);
}
.superlink a {
	position: relative;
	font-weight: 300;
	color: rgba(0,0,0,.5);
	text-decoration: none;
	transition: color .2s;
}
.superlink a::before {
	content: '';
	position: absolute;
	left: 0; right: 0; bottom: -4px; 
	height: 2px;
	transform: scale(.5) translateY(10px);
	background: rgba(255,255,255,0);

	transition: transform .15s, background .15s;
}
.superlink a:hover::before,
.superlink a:focus::before {
	transform: scale(1) translateY(0);
	background: rgba(255,255,255,.8);

	transition-duration: .2s;
}
.wrap {
	width: 95%;
	margin: 0 auto;
}
.wrap--narrow {
	max-width: 65em;
}
.main{
	overflow: hidden;
	padding: .5em 0 0 0;
}
footer{
	position: relative;
	min-height: 250px;
	color: #888;
	text-shadow: 0 1px 2px black;
}
footer a {
	color: #aaa;
}
footer a:hover,
footer a:focus {
	color: #fff;
}
.me {
	background: #222;
}
.underfooter {
	color: rgba(0,0,0,.7);
	font-size: .8em;
	overflow: hidden;
	padding: 1em 0 1em 0;
	text-shadow: none;
}
.underfooter > nav{
	/* float: left; */
}
.underfooter > p {
	/* float: right; */
}
.underfooter a {
	/*color: #222;*/	
}
.underfooter a:hover,
.underfooter a:focus {
	color: #000;
}
/* 60fps FTW */
.scroll-cover {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	pointer-events: auto !important;
	z-index: 10000;
}