.u-align--center {
	text-align: center;
}
.u-align--left {
	text-align: left;
}
.u-align--right {
	text-align: right;
}
.u-left {
	float: left;
}
.u-right {
	float: right;
}
.u-small {
	font-size: .9em;
}
